---
layout: default
prism: true
---

<div class="container max-w-4xl mt-6  px-6">
    <div class="pb-5 mb-5 border-b border-gray-100">
        <h1 class="font-bold tracking-normal text-5xl text-amber-400 drop-shadow-[0px_0px_4px_rgb(0,0,0)]">{{title}}</h1>
        <p class="text-center text-base text-gray-100 leading-6 font-medium">
            <time> {{ date | readableDate }}
                 <a href="#" class="text-amber-400"> by </a>
                <a>{{ author }}</a>
            </time>
        </p>

    </div>
    <article class="prose lg:prose-xl my-4 mx-auto text-white">
        {{ content | safe }}
    </article>

</div>