---
layout: works
---

<section class="mt-12">
    {% set postslist = collections.post %}

    {% for post in postslist | reverse %}
        <article class="my-8 bg-white/80 p-4 rounded">
            <h2 class="font-bold text-xl text-red-500 mb-2">
                <a href="{{ post.url | url }}">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </h2>
            <p class="text-base leading-6 text-gray-500 mb-3">
                <time>
                    {{ post.date | readableDate }}
                    <a href="#" class="text-amber-500"> by </a>
                    <a>{{ post.data.author }}</a>
                </time>
            </p>
            {% if post.data.description %}
                <p class="text-lg text-gray-500 mb-3">
                    {{ post.data.description }}
                </p>
            {% endif %}

            <p>
                <a href="{{ post.url | url }}" class="text-amber-500 font-bold text-lg">
                    Read more →
                </a>
            </p>

        </article>
    {% endfor %}
</section>