<div class="w-full max-w-4xl grid grid-rows-1 grid-cols-1 lg:grid-cols-3 gap-4 my-8 p-4 bg-black/60 lg:mx-0">

    {% if quicklinks.links %}

        {% for item in quicklinks.links %}
            <div class="border-2 rounded-lg overflow-hidden relative">
                <div class="w-full h-1/2 bottom-0 opacity-0 hover:opacity-100 delay-75 duration-500 bg-gradient-to-t from-red-900 z-20 absolute text-white font-thin flex justify-center items-end p-2">
                    <a href="{{item.url}}">Genereted by Bing Ai</a>
                </div>
                <img class="w-full hover:scale-110 duration-300" src="{{item.img}}" alt="">
            </div>
        {% endfor %}

    {% endif %}

</div>
